@model CheckingSystem.Models.Incidents

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="span10">
    <h1 align="center">Delete</h1>

    <h3 align="center">Are you sure you want to delete this?</h3>
    <h4 align="center">Incidents</h4>
    <hr />
        <form method="post" asp-action="Delete">
            <input type="hidden" asp-for="IdInc" />
            <div class="row" align="center">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Number"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Number" disabled class="form-control" />

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Caller"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Caller" disabled class="form-control" />

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Category"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Category" disabled class="form-control" />

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Subcategory"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Subcategory" disabled class="form-control" />

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="BusinessService"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="BusinessService" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Description"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Description" disabled class="form-control" />

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="state"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="state" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-4 row">
                            <div class="col">
                                <input type="submit" class="btn btn-danger w-100" value="Delete" />|

                                <a asp-action="Index" class="btn btn-inverse w-100"><i class="fas fa-sign-out-alt"></i>Back</a>


                            </div>
                        </div>
                    </div>
                </div>

               </div>  
</form>
    </div>
   
