@model IEnumerable<CheckingSystem1.Models.Incidents>


@if (User.Identity.IsAuthenticated)
{
<div class="span10">
    <div class="span4">
        <ul class="widget widget-usage unstyled span4">
            <li>
                <p>
                    <strong>Software</strong> <span class="pull-right small muted">78%</span>
                </p>
                <div class="progress tight">
                    <div class="bar" style="width: 78%;">
                    </div>
                </div>
            </li>
            <li>
                <p>
                    <strong>Hardware</strong> <span class="pull-right small muted">56%</span>
                </p>
                <div class="progress tight">
                    <div class="bar bar-success" style="width: 56%;">
                    </div>
                </div>
            </li>
            <li>
                <p>
                    <strong>Network</strong> <span class="pull-right small muted">44%</span>
                </p>
                <div class="progress tight">
                    <div class="bar bar-warning" style="width: 44%;">
                    </div>
                </div>
            </li>
            <li>
                <p>
                    <strong>Database</strong> <span class="pull-right small muted">67%</span>
                </p>
                <div class="progress tight">
                    <div class="bar bar-danger" style="width: 67%;">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

}
            else
            {

<div class="card">
    <div class="card-body text-center">
        <div class="mb-4">
            <i class="feather icon-mail auth-icon"></i>
        </div>
        <h3 class="mb-4"><a href="/Identity/Account/Login">Sign In</a></h3>
        <p class="mb-0 text-muted">Don’t have an account? <a href="/Identity/Account/Register">Signup</a></p>
    </div>
</div>}

@section scripts{ 
    
            
             
}