@model IEnumerable<CheckingSystem1.Models.Incidents>


@if (User.Identity.IsAuthenticated)
{

<div class="span10">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            This pie chart shows how the chart legend can be used to provide
            information about the individual slices.
        </p>
    </figure>
</div> 
<script src="~/scripts/dashboard.js"></script>

}
            else
            {

<div class="card">
    <div class="card-body text-center">
        <div class="mb-4">
            <i class="feather icon-mail auth-icon"></i>
        </div>
        <h3 class="mb-4"><a href="/Identity/Account/Login">Sign In</a></h3>
        <p class="mb-0 text-muted">Don’t have an account? <a href="/Identity/Account/Register">Signup</a></p>
    </div>
</div>}

@section scripts{ 
<script srs="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>




}