<!DOCTYPE html>
<html lang="en">

<head>
    <script src="~/scripts/chart.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edmin</title>
    <link type="text/css" href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="~/css/theme.css" rel="stylesheet">
    <link type="text/css" href="~/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
    <lik href="~/FontAwesome/css/all.css" rel="stylesheet" />
    <style>
        #chart_container {
            width: 400px;
            height: 400px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a><a class="brand" href="index.html">Edmin </a>
                <div class="nav-collapse collapse navbar-inverse-collapse">

                    <form class="navbar-search pull-left input-append" action="#">
                        <input type="text" class="span3">
                        <button class="btn" type="button">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="/Incidents/Index" class="dropdown-toggle" data-toggle="dropdown">
                                Incidents
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Incidents/Index">All</a></li>
                                <li><a href="/Incidents/Create">Add new</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Assigned to me</li>

                            </ul>
                        </li>

                        <li class="nav-user dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="images/user.png" class="nav-avatar" />
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Your Profile</a></li>
                                <li><a href="#">Edit Profile</a></li>
                                <li><a href="#">Account Settings</a></li>
                                <li class="divider"></li>
                                <partial name="_LoginPartial" />
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <div class="sidebar">
                        <ul class="widget widget-menu unstyled">
                            <li class="active">
                                <a href="/Incidents/Index" align="center">
                                    <i class=""></i>Incidents
                                </a>
                            </li>
                            <li>
                                <a href="/Incidents/Create"><i class="menu-icon icon-book"></i>New Incident </a>
                            </li>
                            <li>
                                <a href="/Incidents/Index">
                                    <i class="menu-icon icon-paste"></i>All
                                </a>
                            </li>
                            <li>
                                <a href="/Incidents/AssignedToMe">
                                    <i class="menu-icon icon-inbox"></i>Assigned to me
                                </a>
                            </li>
                            <li>
                                <a href="/Incidents/Resolved">
                                    <i class="menu-icon icon-inbox"></i>Resolved
                                </a>
                            </li>
                        </ul>

                        <!--/.widget-nav-->


                        <ul class="widget widget-menu unstyled">
                            <li><a href="/Users/Index" align="center"><i class=""></i> Users </a></li>
                            <li><a href="/Users/Create"><i class="menu-icon icon-book"></i>Add new </a></li>
                            <li><a href="/Users/Index"><i class="menu-icon icon-paste"></i>All </a></li>

                        </ul>
                        <ul class="widget widget-menu unstyled">
                            <li><a href="/SupportAgents/Index" align="center"><i class=""></i> Support Agent </a></li>
                            <li><a href="/SupportAgents/Create"><i class="menu-icon icon-book"></i>Add new </a></li>
                            <li><a href="/SupportAgents/Index"><i class="menu-icon icon-paste"></i>All </a></li>

                        </ul>
                        <ul class="widget widget-menu unstyled">
                            <li><a href="/Categories/Index" align="center"><i class=""></i> Incidents Categories </a></li>
                            <li><a href="/Categories/Index"><i class="menu-icon icon-book"></i>Categories </a></li>
                            <li><a href="/SubCategories/Index"><i class="menu-icon icon-paste"></i>SubCategories </a></li>

                        </ul>
                    </div>
                    <!--/.sidebar-->
                </div>
                <!--/.span3-->
                @RenderBody()

                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->

    <div class="footer">
        <div class="container">
            <center>
                <b class="copyright">&copy; 2014 Edmin - EGrappler.com </b>All rights reserved.
            </center>
        </div>
    </div>
    <script src="~/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="~/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/scripts/flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/scripts/common.js" type="text/javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>